body{
    
    background-color: darkgrey;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: "#777";
    font-size: 18px;
    background-color: #777;
    margin-left: 12%;
    margin-right: 13%;
    width: 960px;
}

header, nav, section, aside, footer { 
    background: #ebebeb;
}
.bar {
    padding: 36px;
    text-align: center;
    margin-bottom: 10px;
    color:darkgray;

}
header{
  
}
nav{
    
}
article{
    color: #ebebeb; 
    position: relative;
    left: 16px;
    /*bottom: 300px;*/
    background-color: #777;
    height: 170px;
    width: 465px;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

section {
    width: 494px;
    height: 245px;
    padding-top: 18px;
    color: #777;
    text-align: center;
    float: left;
    /*margin-right: 15px;*/
    margin-top: 12px;
    
}
aside{
    width: 46%;
    height: 245px;
    color: #777;
    padding-top: 18px;
    text-align: center;
    float: right;
    
    margin-top: 12px;
}
.footer {
    clear: both;
    color: #777;
    position: relative;
    height: 65px;
    width: 100%;
    top: 25px;
    text-align: center;
    padding-top: 40px;
}
.buttonBar { 
    position: relative;
    left: 22px;
    bottom: 10px;
    height: 50px;
    width: 90%;
    
}
.article {
    /*height: 0;
    width: 0;*/
    color: white;
    text-align: center;
    background-color: #777;
    line-height: 1.5;

}

